@model IEnumerable<bool>
@{
    Layout = null;
}

<a class="btn btn-block btn-outline-secondary all  @(ViewBag.SelectedCategory ==  "hepsi" ? "selected" : "")"
   asp-action="ParticipantList"
   asp-controller="Home"
   asp-route-isAttend=""> Hepsi </a>


@foreach (bool item in Model)
{
<a class="btn btn-block btn-outline-secondary @(item ? "coming" : "not_coming") @(ViewBag.SelectedCategory == item.ToString() ? "selected" : "")  " asp-action="ParticipantList" asp-controller="Home"
   asp-route-isAttend="@item"
   asp-route-participantPage="1">

    @if (item)
    {
        @Html.Label("Models", "Gelenler");
        
    }
    else
    {
        @Html.Label("Models", "Gelmeyenler")
    }
</a>
}